<div class="container">
  <div class="row">

  </div>
  <div class="col-lg-12 centered"> <!--カフェ投稿フォーム-->
    <h1><%= current_area.name %>のカフェ</h1>
    <form action="/cafepost/<%= current_area.id %>" method="post">
      <div class="form-group">
        <input name="cafename" placeholder="カフェの名前">
        <input name="cafeplace" placeholder="カフェの場所">
        <input name="seatnum" type="number" placeholder="席数">
      </div>
      <div class="form-send">
        <button type="submit" class="btn btn-large">あなたの見つけたカフェを登録</button>
      </div>
    </form>
  </div>
  <p></p>
  <div class="row centerd mt gird">
  <div class="mt"></div>
    <% if !@caves.nil? %>
      <% @caves.each do |cafe| %>
        <div class="col-lg-4">
        <ul>
          <li>名前：<%= cafe.cafe_name %></li>
          <li>場所：<%= cafe.cafe_place %></li>
          <li>席数：<%= cafe.seat_num %></li>
          <form action="/caves/<%= cafe.id %>/delete" method="post">
            <input type="submit" value="削除">
          </form>

          <a href="/caves/<%= cafe.id %>/edit">編集</a>
          <a href="/caves/<%= cafe.id %>/want">ここに行きたい!!</a>
          <a href="/caves/<%= cafe.id %>/now">ここに今いる!!</a>
          <br>
        </ul>
        </div>
      <% end %>
    <% end %>
  </div>

</div>