<div>
  <div>
    <h3><%= current_area.name %>のカフェ</h3>
  </div>
  <div><!--カフェ投稿フォーム-->
    <form action="/cafepost/<%= current_area.id %>" method="post">
      <div>
        <input name="cafename" placeholder="カフェの名前">
        <input name="cafeplace" placeholder="カフェの場所">
        <input name="seatnum" type="number" placeholder="席数">
      </div>
      <div>
        <input type="submit" value="あなたの見つけたカフェを登録">
      </div>
    </form>
  </div>

  <div>
    <% if !@caves.nil? %>
        <% @caves.each do |cafe| %>
        <div class="card">
        <ul>
          <li>名前：<%= cafe.cafe_name %></li>
          <li>場所：<%= cafe.cafe_place %></li>
          <li>席数：<%= cafe.seat_num %></li>
          <form action="/caves/<%= cafe.id %>/delete" method="post">
            <input type="submit" value="削除">
          </form>
          <a href="/caves/<%= cafe.id %>/edit">編集</a>
          <a href="/caves/<%= cafe.id %>/want">ここに行きたい!!</a>
          <a href="/caves/<%= cafe.id %>/now">ここに今いる!!</a>
          <br>
        </ul>
        </div>
        <% end %>
    <% end %>
  </div>

</div>