<div>

  <div>
    <h2><%= current_cafe.cafe_name %>に今いるよ！</h2>
  </div>

  <div>
    何時に出るか決まってる？
    <form action="/cafe_go_out" method="post">
      <input type="time" name="go_out">
      <input type="submit" value="決定">
    </form>

      <!--分入れたくないんだけどとりあえずまぁいいか。
      なんか、iQueryつかえばいい感じになるっぽい-->
    </form>
  </div>

  <div>
    <form action="/cafecongestion" method="post">
      <p>
        <select name="congestion">
        <option value="満席&並んでる">満席&並んでる</option>
        <option value="ほぼ満席">ほぼ満席</option>
        <option value="狙い目">狙い目</option>
        <option value="空席&リラックス">空席&リラックス</option>
      </p>
      <p><input type="submit" value="送信する"></p>
  </div>

  <div>
    <p>現在の混雑具合 : <%= current_cafe.congestion %></p>
  </div>

  <div>
    <p>出ようとしてる人達</p>
      <% if !@out_users.nil? %>
      <ul>
        <% @out_users.each do |out_user| %>
          <li><%= out_user.name %>さん ： <%= out_user.out_time %></li>
        <% end %>
      </ul>
      <% end %>
  </div>
  <div>
    <p>行こうとしてる人達</p>
      <% if !@go_users.nil? %>
      <ul>
        <% @go_users.each do |go_user| %>
          <li><%= go_user.name %>さん ： <%= go_user.go_time %></li>
        <% end %>
      </ul>
      <% end %>
  </div>

</div>